html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #f6f6f6;
    font-family: sans-serif;
}

#composeApp {
    width: 100%;
    height: 100%;
}

canvas {
    display: block;
}
